.modal {
  position: absolute;
  /* width: 468px; */
  /* height: 264px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid black; */
  background-color: #fff;
  border-radius: 18px;
}